*:not(a) {
  background: rgb(32,32,32);
  color: whitesmoke;
  font-family: avenir, arial;
  border-radius: 10px;
}

body {
  padding: 10px;
}

a {
  color: lightgreen;
}

a:hover {
  color: lime;
}

button:hover,
button:active {
  background: white;
  color: black;
}

button:active {
  background: grey;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: small;
}

header p {
  text-align: center;
  background: yellow;
  color: black;
  font-weight: bold;
}

header p a {
  color: green;
}

#output {
  color: grey;
  margin: auto;
  width: 80%;
}

#main {
  text-align: center;
}

#list-of-previous {
  padding: 0.5px 10px;
  background: grey;
  margin: auto;
  width: 50%;
  position: relative;
}

#list-of-previous > h4,
#list-of-previous > p {
  background: black;
  color: white;
  padding: 3px 10px;
  margin: 3px;
  text-align: center;
}


#list-of-previous:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  width: 100%;
  height: 4em;
  border-radius: 10px;
}

.v { /* from HTML returned from API call */
  margin-right: 5px;
  color: yellow;
  font-weight: bold;
}

.p { /* from HTML returned from API call */
  text-align: left;
}

#verse-words {
  max-height: 100px;
  overflow: auto;
  margin: auto;
  width: 80%;
}

#copyright {
  color: grey;
  font-size: xx-small;
  text-align: right;
}
